body {
	font-family: "calibri";
    background: #efefef;
    padding: 32px;
    padding-top: 16px;
    color: #333;
}
h1,
h1 + p,
h2 {
	text-align: center;
	color: #787878;
}

header {
    padding-bottom: 1em;
    border-bottom: 1px solid #787878;
}

main {
    padding-top: 1em;
    text-align: center;
}

main span {
    position: absolute;
    left: -9999em;
}

main input {
    width: 100%;
    margin: 1em auto;
    font-size: 1.25em;
    padding: .75em 0;
    text-align: center;
}

#search {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: .75em 2em;
    font-size: 1.25em;
	display: inline-block;
    cursor: pointer;
}
